<%- include("header") -%>
<div class="box">
  <h1 id="heading">Reach Us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repellat et cupiditate sequi delectus, dolore dolores facere velit numquam modi aut vitae sint doloremque distinctio laudantium repellendus similique, voluptatum impedit.</p>
</div>

<%- include("footer") -%>
