<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%=  Kindofday %><br>ToDo List!</h1>
    </div>
    <div class="box">

        <% for(var i=0;i< itemName.length;i++){ %>
          <div class="item">
            <input type="checkbox">
           <p> <%= itemName[i] %> </p>
          </div>
        <% } %>

    <form action="/" method="post" class="item">
      <input type="text" name="item" placeholder="Enter item" required autocomplete="off" autofocus>
      <hr>
      <button type="submit">+</button>
    </form>
    </div>
    <%- include("footer") -%>


